:root {
  --white: #fff;
  --black: #000;
  --grey-500: #5e6e85;
  --grey-300: #acc1de;
  --blue-900: #253347;
  --blue-500: #345ff6;
  --blue-300: #b3d3f1;
  --blue-100: #e1e7fe;
  --gradient-1: linear-gradient(to left, #d6e6fe, #d6fcfe00);
}
